* {
  user-select: none;
}
body {
  background-color: black;
  color: white;
}

.mazeContainer {
  display: block;
}

.mazeRow {
  display: grid;
}

.panel {
  display: grid;
  grid-template-columns: min-content auto;
}

#setPanel * {
  display: block;
  margin: 25px;
}

#nextStepButton {
  display: block;
  width: 100px;
  margin-top: 20px;
}

#curWayCont {
  margin: 25px;
}

.shortWayColor {
  color: blue;
  background-color: blue;
}

.wall {
  color: rgb(75, 146, 76);
  text-align: center;
}

.steps {
  color: rgb(24, 24, 24);
  background-color: rgb(24, 24, 24);
}

.empty {
  background-color: rgb(24, 24, 24);
}
