body {
  background-color: black;
  color: white;
}

.mazeContainer {
  display: block;
}

.mazeRow {
  display: grid;
  /* grid-template: repeat(3, 25px); */
}

.panel {
  display: grid;
  grid-template-columns: min-content auto;
}

/* #maze {
  width: 60%;
} */

#setPanel * {
  display: block;
  margin: 25px;
}

#nextStepButton {
  display: block;
  width: 100px;
  margin-top: 20px;
}

#curWayCont {
  margin: 25px;
}
